@model AgencyApp.Models.Contract

@{
    ViewData["Title"] = "Edit";
}

<h1>Изменение</h1>

<h4>Контракт</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ContractId" />
            <div class="form-group">
                Номер клиента
                <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientName"></select>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                Номер агента
                <select asp-for="AgentId" class="form-control" asp-items="ViewBag.AgentName"></select>
                <span asp-validation-for="AgentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                Номер услуги
                <select asp-for="DictionaryId" class="form-control" asp-items="ViewBag.DictionaryName"></select>
                <span asp-validation-for="DictionaryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                Дата
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />|
                <a asp-action="Index">Назад</a>
            </div>
        </form>
    </div>

   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
