@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Здраствуйте</h1>
    <p><a asp-area="" asp-controller="Clients" asp-action="Index">Указать данные</a> </p>
    <p><a asp-area="" asp-controller="Dictionaries" asp-action="Index">Посмотреть список услуг</a></p>
    <p> <a asp-area="" asp-controller="Applications" asp-action="Index">Оставить заявку</a></p>
   

    
</div>
