@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Здраствуйте</h1>
    <p>Вы можете указать свои данные <a asp-area="" asp-controller="Clients" asp-action="Index">Здесь</a> </p>
    <p>Посмотреть список страховых услуг вы можете <a asp-area="" asp-controller="Dictionaries" asp-action="Index">Здесь</a></p>
    <p>Оставить заявку на регистрацию договора <a asp-area="" asp-controller="Applications" asp-action="Index">Здесь</a></p>
   

    
</div>
