@model IEnumerable<AgencyApp.Models.Agent>

@{
    ViewData["Title"] = "Index";
}

<h1>Агенты</h1>
<p>
    <a asp-action="Create">Создать агента</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Должность
            </th>
            <th>
                Фамилия, имя, отчество
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Degree.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
